#mine {
  border-color: grey;
  background-image: url(../images/polygon-background.jpg);
  color: black;
}

#navbarpadedit {
  margin-bottom: 0px!important;
  border-radius: 0px!important;
  /*padding: 0px!important;*/
}

#log_reg {
  padding-top: 12.5px;
  height: 50px;
  float:right;
}

#screenicon {
  margin-left: 32.5%;
  margin-bottom: 2px;
  height: 38px;
  width: 34.5%;
  border: 4px;
  border-style: ridge;
  /*border-color: black;*/
}
#screentext {
  margin: 0px;
  /*margin-left: 37%;*/
  padding-bottom: 5px;
  text-align: center;
}
/*#seatstable {
  margin-left: 20%;
  margin-right: 20%;
}*/

#loginbutton {
  margin-top: 12.5px;
  height: 25px;
  color: #6D0101;
}

#modal-login-back {
  background-color: black;
}

#regbutton {
  margin-top: 12.5px;
  margin-left: 15px;
  height: 25px;
  color: #6D0101;
}

#navlogoplace {
  padding: 0!important;
}

#nowShowingTitle {
  font-size: 40px;
}

.carousel-text
{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#marvellogohome {
  max-width: 100%;
}
#marvellogonav {
  max-width: 100px;
  height: 50px;
  border-radius: 50%;

}

#map {
  height: 500px;
  width: 100%;
}

#background
{
    background-image: url(../images/snow.jpg);
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 8px;
}

.button5:hover {
    background-color: #555555;
    border-radius: 8px;
    color: white;
}

.button4{
  background-color: #555555;
  border-radius: 8px;
  color: white;

}

.button3{
  background-color: black;

}

.modal-pointer
{
  cursor: pointer;
}
/*to remove padding at bottom of login and registration modals*/
.panel {
  margin-bottom: 0px!important;
}
