<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="../static/css/sticky-footer.css" >
<link rel="stylesheet" type="text/css" href="../static/css/navbar-top-fixed.css" >
<link rel="stylesheet" type="text/css" href="../static/css/carousel/carousel.css" >
<link rel="stylesheet" type="text/css" href="../static/css/custom.css" >
<!-- bootstrap and css loctaions for register and login-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css/login/bootstrap/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="../static/css/login/bootstrap/js/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="../static/css/login/bootstrap/js/bootstrap.min.js"></script>

<!-- Page CSS Files -->
<link rel="stylesheet" href="../static/css/login/login.css">
<link rel="stylesheet" href="../static/css/login/registration.css">

<!--Font-Awesome CSS File-->
<link rel="stylesheet" href="../static/css/login/css/font-awesome/css/font-awesome.min.css">
</head>



<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/home">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nowshowing">Now Showing</a>
        </li>
        <li class="nav-item">
          <button name="subject" type="submit" value="login" class = "modal-pointer" data-toggle="modal" data-target="#login">Login</button>
        </li>
        <li class="nav-item">
          <button name="subject" type="submit" value="registration" class = "modal-pointer" data-toggle="modal" data-target="#registration">Registration</button>
        </li>
      </ul>

    </div>
  </nav>

  <!-- <main role="main" class="container"> -->
    <div class="jumbotron">
      {% block content %}{% endblock %}
    </div>
  <!-- </main> -->



  <!-- <footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer> -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../static/js/jquery-slim.min.js"><\/script>')</script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/holder.min.js"></script>


  <!-- Modal for login -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="container text-center" id="login">
        		<div class="row">
        				<div class="panel panel-default">
        					<div class="panel-body nopadding">
        						<div class="row">
        							<div class="col-lg-12">
        								<form id="login_form">
        									<div class="login_logo">Login</div>
        										<div class="form-group">
        											<div class="input-group">
        												<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        												<input type="email" class="form-control input input-lg" placeholder="Your Email"  required>
        											</div>
        										</div>
        										<div class="form-group">
        											<div class="input-group">
        												<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        												<input type="password" class="form-control input input-lg" placeholder="Your Password"  required>
        											</div>
        										</div>
        										<div class="checkbox text-left">
        											<label><input type="checkbox">Remember me</label>
        										</div>
        										<div class="butn">
        											<button class="btn btn-primary btn-block btn-lg">Login</button>
        										</div>
        										<div class="forgot">
        											<a href="#">Forgot Password?</a>
        										</div>
        										<div class="newhere">
        											<p>New Here ? <a href="#">Join Us</a></p>
        										</div>
        								</form>
        							</div>
        						</div>
        					</div>
        				</div>
    		    </div>
        	</div>
      </div>
    </div>
  </div>
  <!-- Modal for registration -->
  <div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="container text-center" id="register">
      		<div class="row">
    				<div class="panel panel-default">
    					<div class="panel-body nopadding">
    						<div class="row">
    							<div class="col-lg-12">
                    <form id="registration_form">
                      <div class="registration_logo">Sign Up</div>
                      <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">


                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user registration_form_icons"></i></span>
                            <input type="text" class="form-control input input-lg" placeholder="First Name"  required/>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user registration_form_icons"></i></span>
                            <input type="text" class="form-control input input-lg" placeholder="Last Name"  required/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope registration_form_icons"></i></span>
                        <input type="email" class="form-control input input-lg" placeholder="Your Email"  required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock registration_form_icons"></i></span>
                        <input type="password" class="form-control input input-lg" placeholder="Your Password"  required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock registration_form_icons"></i></span>
                        <input type="password" class="form-control input input-lg" placeholder="Confirm Password"  required>
                      </div>
                    </div>

                    <div class="checkbox text-left">
                      <label><input type="checkbox"><span class="check">I agree the terms & conditions.</span></label>
                    </div>

                    <div class="butn">
                      <button class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-share-alt"></span> Resgister</button>
                    </div>
                    <div class="already_member">
                      <p>Already a User ? <a href="#">Log In Here</a></p>
                    </div>
                  </form>
    							</div>
    						</div>
    					</div>
    				</div>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</body>
</html>
