{% extends "base.html" %}
{% block content %}

<h1> Now Booking Your Tickets </h1><br>

<h2>{{screening.time}} {{screening.screen_id}}</h2><br>
<h2>{{movieName.movieTitle}}</h2><br>



{{movieName.synopsis}}<br>
{{movieName.ageRating}}<br>




Unavailable Seats<br>
{% for seats in seatsRes %}

  (  {{seats.rowReservedID}}
  {{seats.seatNumberReservedID}} )

{% endfor %}<br>
            <br>
Seats Available<br>

<table style="width:100%">
{% for row in rows %}
<th>
      {{row.row}}
</th>
<tr>
  {% for seat in seatNumber %}
  <td>
    <form method="post">
      <button class ="button button5" name="bookThisSeat" type="submit" value="{{row.row}}{{seat.seatNumber}}">{{row.row}}{{seat.seatNumber}}</button>
    </form>
  </td>
  {% endfor %}
</tr>
{% endfor %}<br>
</table>










{% endblock %}
