{% extends "base.html" %}
{% block content %}

Payments page<br>

Name: {{user.name}}<br>
Email: {{user.email}}<br>
Movie: {{movieName.movieTitle}}<br>
Showing selected: {{screening.time}} {{screening.screen_id}}<br>
No of tickets: <br>
  Adult: {{adultTotal}} - £{{adultTotal*9}}<br>
  Child: {{childTotal}} - £{{childTotal*6.5}}<br>
  Senior: {{seniorTotal}} - £{{seniorTotal*7}}<br>
  VIP: {{vipTotal}} - £{{vipTotal*12}}<br>

Total Price:  {{priceTotal}}<br>

Seats selected: {{seatList}}<br>

Cards:<br>
<form method="post">
<select>
  {% for details in cardDetails %}
    <option value="{{details.nickName}}">{{details.cardNickname}}</option>
  {% endfor %}
  <option value="nocard">Use Different Card</option>
</select>
</form><br>
<br>

<input type="submit" id="submit" onclick="document.getElementById('hidden').style.display = 'block';" />

<img id="hidden" class="hidden" src="foo.png" />

{% endblock %}
