{% extends "base.html" %}
{% block content %}


<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{movieName.movieTitle}}</h1>
  </div>
</section>

<div class="container">
  {% for screening in screenings %}


  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h1>{{screening.time.strftime('%B %d %Y')  }}</h1>
          <h2>{{screening.time.strftime('%-H:00')  }}</h2>
          <form method="post">
          <button name="bookSeat" type="submit" value="{{screening.id}}">Book a seat</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>


{% endblock %}
