{% extends "base.html" %}
{% block table %}




<div class ="jumbotron">
  <table class ="table table-striped">
  <tr>
    <th>Movie Title</th>
    <th>Synopsis</th>
    <th>Rating</th>
  </tr>
    <tr>
      <td>Shrek 2</td>
      <td>Shrek finds a donkey</td>
      <td>10/10 IGN</td>
    </tr>
    <tr>
      <td>Shrek 2</td>
      <td>Shrek finds a donkey</td>
      <td>10/10 IGN</td>
    </tr>
    <tr>
      <td>Shrek 2</td>
      <td>Shrek finds a donkey</td>
      <td>10/10 IGN</td>
    </tr>
  </table>
  </div>

{% endblock %}
